button{
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  & > svg{
    width: 80%;
    height: 80%;
  }

  &.dark{
    background: #333333;
    color: rgb(255, 255, 255);
    &:hover{
      border-color: #797979;
    }
  }
  &.light{
    background: #d0d0d0;
    color: black;
    &:hover{
      border-color: #8a8a8a;
    }
  }
  
}
.button{
  padding: 10px 20px;
}
.icon{
  position: relative;
  width: 40px;
  height: 40px;
  svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
}
