
@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.header{
  position: relative;
  flex: 0 0 auto;
  display: flex;
  padding: 10px 5%;
  align-items: center;
  justify-content: space-between;
  .header__title{
    color: #6e2727;
  }
  div.header__menu_btn{
    display: flex;

    & > *{
      margin-right: 5px;
    }
    & > *:last-child{
      margin-right: 0;
    }
    @media screen and (max-width: 800px){
      position: absolute;

      width: 100%;

      opacity: 0;
      visibility: hidden;
      padding: 10px 0;
      justify-content: center;
      top: 100%;
      left: 0;
      gap: 2px  ;
      z-index: 100;
      &.open{
        visibility: visible;
        opacity: 1;
      }
      
      *{
        background-color: transparent;
        margin: 0;
      }

    }
  }

}
.burger{
  display: none;
  @media screen and (max-width: 800px){
    display: block;
  }
}

.commentList{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: inherit;
}
.comment{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'avatar username'
  'avatar issue'
  'message message'
  'date date';
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;

  .comment__issue{
    display: inline-flex;
    grid-area: issue;
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin-top: -25px;
    padding: 2px 5px;
    color: white;
    background: #5a5ba4;
    border-radius: 20px;
  }
  .comment__avatar{
    margin-right: 5px;
    width: 80px;
    grid-area: avatar;
    border-radius: 50%;
  }
  .comment__username{
    grid-area: username;

    font-size: 17px;
  }
  .comment__date{
    text-align: right;
    grid-area: date
  }
  pre{
    text-align: justify;
    white-space: pre-wrap;
    grid-area: message;
  }
}


.topDesignerWrapper{
  width: 90%;
  margin: 0 auto 10px auto;
  h1{
    text-align: center;
    margin-bottom: 10px;
  }

}
.topDesigner{
  display: flex;
  flex-direction: column;
  align-items: center;



  padding: 20px;
  border-radius: 10px;
  img.topDesigner__avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  h3.topDesigner__name{
    margin-bottom: 10px;
  }
  h5{
    text-align: center;
    margin-bottom: 10px;
  }
}
.loader{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 90px;
}
.loader__spinner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  border-top: 2px solid rebeccapurple;
  border-bottom: 2px solid rebeccapurple;
  border-left: 2px solid rebeccapurple;
  border-right: 2px solid transparent;
  animation: spin 1s linear infinite;
}


.selectMenu{
  margin: 0 auto 10px auto;
  width: fit-content;
  display: flex;
  align-items: center;

  select{
    margin-left: 10px;
  }
  &.dark{
    select{
      color: white;
      background: #2a2a2a;
    }
  }
}
.weekStat{
  margin: 0 auto;
}
.custom_tooltip{
  color: #1c1c1c;
  background-color: #1c1e2f;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  p.label{
    font-weight: bold;

  }
}
.pagination{
  margin: 10px auto 10px 10px;
  width: fit-content;
  display: flex;
  button.select{
    // opacity: 0;
    color: white;
    background-color: rgb(122, 122, 122) !important;
  }
}
.designersTab{
  
  display: block;
  width: fit-content;
  border-radius: 10px;
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid #949494;
  overflow-x: scroll;
  
  td, th{
    text-align: center;
    padding: 5px;
    border-right: 1px solid #949494;
    &:last-child{
      border-right: none;
    }
  }
  th{
    color: white;
    background-color: #383838;
  }
  tbody > tr:hover{
    background-color: #9e9e9e;
    *{
      color: white !important;
    }
  }
  td.designersTab_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }
  &::-webkit-scrollbar{
    opacity: 0;
  }
  @media screen and (max-width: 590px) {
    width: 100%;
  }
}